* {
    margin: 0;
    padding: 0;
}

body {
    background-color: aliceblue;
    height: 100vh;

}

nav {
    background-color: white;
}

.search-form {
    width: 50%;
}

.sidebar {
    margin-top: 90px;
    height: auto;
}

#recently-posted {
    margin-top: 90px;
}

.photo {
    height: 26px;
    width: 50px;
    margin-left: 10px;
}

#statistics {
    margin-top: 90px;
}